.heading {
    text-align: center;
    color: blue;
}

.card {
    border-color: #0d406d;
}

.card-title {
    color: #000ca9;
}

.sub-title {
    color: #009822;
}

.col-header {
    color: #482301;
}

.price {
    color: #960f84;
}

.language {
    color: #e0041d;
}

.rating {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.custom-table {
    margin: 10px;
}

.react-bootstrap-table .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.react-bootstrap-table th .order > .dropdown > .caret {
    margin: 10px 0 10px 5px;
    color: #cccccc;
}

.dropup {
    position: relative;
}

.react-bootstrap-table .dropup .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid;
}

.spinner-border {
    width: 5rem;
    height: 5rem;
    margin: 20px;
}